.grid {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .grid__item {
    flex: none;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }

.\31 \/2 {
  width: 50%; }

.offset-1\/2 {
  margin-left: 50%; }

.\32 \/2 {
  width: 100%; }

.offset-2\/2 {
  margin-left: 100%; }

.\31 \/3 {
  width: 33.33333%; }

.offset-1\/3 {
  margin-left: 33.33333%; }

.\32 \/3 {
  width: 66.66667%; }

.offset-2\/3 {
  margin-left: 66.66667%; }

.\33 \/3 {
  width: 100%; }

.offset-3\/3 {
  margin-left: 100%; }

.\31 \/4 {
  width: 25%; }

.offset-1\/4 {
  margin-left: 25%; }

.\32 \/4 {
  width: 50%; }

.offset-2\/4 {
  margin-left: 50%; }

.\33 \/4 {
  width: 75%; }

.offset-3\/4 {
  margin-left: 75%; }

.\34 \/4 {
  width: 100%; }

.offset-4\/4 {
  margin-left: 100%; }

.\31 \/5 {
  width: 20%; }

.offset-1\/5 {
  margin-left: 20%; }

.\32 \/5 {
  width: 40%; }

.offset-2\/5 {
  margin-left: 40%; }

.\33 \/5 {
  width: 60%; }

.offset-3\/5 {
  margin-left: 60%; }

.\34 \/5 {
  width: 80%; }

.offset-4\/5 {
  margin-left: 80%; }

.\35 \/5 {
  width: 100%; }

.offset-5\/5 {
  margin-left: 100%; }

.\31 \/6 {
  width: 16.66667%; }

.offset-1\/6 {
  margin-left: 16.66667%; }

.\32 \/6 {
  width: 33.33333%; }

.offset-2\/6 {
  margin-left: 33.33333%; }

.\33 \/6 {
  width: 50%; }

.offset-3\/6 {
  margin-left: 50%; }

.\34 \/6 {
  width: 66.66667%; }

.offset-4\/6 {
  margin-left: 66.66667%; }

.\35 \/6 {
  width: 83.33333%; }

.offset-5\/6 {
  margin-left: 83.33333%; }

.\36 \/6 {
  width: 100%; }

.offset-6\/6 {
  margin-left: 100%; }

.\31 \/8 {
  width: 12.5%; }

.offset-1\/8 {
  margin-left: 12.5%; }

.\32 \/8 {
  width: 25%; }

.offset-2\/8 {
  margin-left: 25%; }

.\33 \/8 {
  width: 37.5%; }

.offset-3\/8 {
  margin-left: 37.5%; }

.\34 \/8 {
  width: 50%; }

.offset-4\/8 {
  margin-left: 50%; }

.\35 \/8 {
  width: 62.5%; }

.offset-5\/8 {
  margin-left: 62.5%; }

.\36 \/8 {
  width: 75%; }

.offset-6\/8 {
  margin-left: 75%; }

.\37 \/8 {
  width: 87.5%; }

.offset-7\/8 {
  margin-left: 87.5%; }

.\38 \/8 {
  width: 100%; }

.offset-8\/8 {
  margin-left: 100%; }

.\31 \/10 {
  width: 10%; }

.offset-1\/10 {
  margin-left: 10%; }

.\32 \/10 {
  width: 20%; }

.offset-2\/10 {
  margin-left: 20%; }

.\33 \/10 {
  width: 30%; }

.offset-3\/10 {
  margin-left: 30%; }

.\34 \/10 {
  width: 40%; }

.offset-4\/10 {
  margin-left: 40%; }

.\35 \/10 {
  width: 50%; }

.offset-5\/10 {
  margin-left: 50%; }

.\36 \/10 {
  width: 60%; }

.offset-6\/10 {
  margin-left: 60%; }

.\37 \/10 {
  width: 70%; }

.offset-7\/10 {
  margin-left: 70%; }

.\38 \/10 {
  width: 80%; }

.offset-8\/10 {
  margin-left: 80%; }

.\39 \/10 {
  width: 90%; }

.offset-9\/10 {
  margin-left: 90%; }

.\31 0\/10 {
  width: 100%; }

.offset-10\/10 {
  margin-left: 100%; }

.\31 \/12 {
  width: 8.33333%; }

.offset-1\/12 {
  margin-left: 8.33333%; }

.\32 \/12 {
  width: 16.66667%; }

.offset-2\/12 {
  margin-left: 16.66667%; }

.\33 \/12 {
  width: 25%; }

.offset-3\/12 {
  margin-left: 25%; }

.\34 \/12 {
  width: 33.33333%; }

.offset-4\/12 {
  margin-left: 33.33333%; }

.\35 \/12 {
  width: 41.66667%; }

.offset-5\/12 {
  margin-left: 41.66667%; }

.\36 \/12 {
  width: 50%; }

.offset-6\/12 {
  margin-left: 50%; }

.\37 \/12 {
  width: 58.33333%; }

.offset-7\/12 {
  margin-left: 58.33333%; }

.\38 \/12 {
  width: 66.66667%; }

.offset-8\/12 {
  margin-left: 66.66667%; }

.\39 \/12 {
  width: 75%; }

.offset-9\/12 {
  margin-left: 75%; }

.\31 0\/12 {
  width: 83.33333%; }

.offset-10\/12 {
  margin-left: 83.33333%; }

.\31 1\/12 {
  width: 91.66667%; }

.offset-11\/12 {
  margin-left: 91.66667%; }

.\31 2\/12 {
  width: 100%; }

.offset-12\/12 {
  margin-left: 100%; }

.vr-left {
  border-left: 1px solid #ccc; }

.vr-right {
  border-right: 1px solid #ccc; }

.spacing-bottom {
  margin-bottom: 30px; }

@media only screen and (min-width: 400px) {
  .\31 \/2\@sm {
    width: 50%; }

  .offset-1\/2\@sm {
    margin-left: 50%; }

  .\32 \/2\@sm {
    width: 100%; }

  .offset-2\/2\@sm {
    margin-left: 100%; }

  .\31 \/3\@sm {
    width: 33.33333%; }

  .offset-1\/3\@sm {
    margin-left: 33.33333%; }

  .\32 \/3\@sm {
    width: 66.66667%; }

  .offset-2\/3\@sm {
    margin-left: 66.66667%; }

  .\33 \/3\@sm {
    width: 100%; }

  .offset-3\/3\@sm {
    margin-left: 100%; }

  .\31 \/4\@sm {
    width: 25%; }

  .offset-1\/4\@sm {
    margin-left: 25%; }

  .\32 \/4\@sm {
    width: 50%; }

  .offset-2\/4\@sm {
    margin-left: 50%; }

  .\33 \/4\@sm {
    width: 75%; }

  .offset-3\/4\@sm {
    margin-left: 75%; }

  .\34 \/4\@sm {
    width: 100%; }

  .offset-4\/4\@sm {
    margin-left: 100%; }

  .\31 \/5\@sm {
    width: 20%; }

  .offset-1\/5\@sm {
    margin-left: 20%; }

  .\32 \/5\@sm {
    width: 40%; }

  .offset-2\/5\@sm {
    margin-left: 40%; }

  .\33 \/5\@sm {
    width: 60%; }

  .offset-3\/5\@sm {
    margin-left: 60%; }

  .\34 \/5\@sm {
    width: 80%; }

  .offset-4\/5\@sm {
    margin-left: 80%; }

  .\35 \/5\@sm {
    width: 100%; }

  .offset-5\/5\@sm {
    margin-left: 100%; }

  .\31 \/6\@sm {
    width: 16.66667%; }

  .offset-1\/6\@sm {
    margin-left: 16.66667%; }

  .\32 \/6\@sm {
    width: 33.33333%; }

  .offset-2\/6\@sm {
    margin-left: 33.33333%; }

  .\33 \/6\@sm {
    width: 50%; }

  .offset-3\/6\@sm {
    margin-left: 50%; }

  .\34 \/6\@sm {
    width: 66.66667%; }

  .offset-4\/6\@sm {
    margin-left: 66.66667%; }

  .\35 \/6\@sm {
    width: 83.33333%; }

  .offset-5\/6\@sm {
    margin-left: 83.33333%; }

  .\36 \/6\@sm {
    width: 100%; }

  .offset-6\/6\@sm {
    margin-left: 100%; }

  .\31 \/8\@sm {
    width: 12.5%; }

  .offset-1\/8\@sm {
    margin-left: 12.5%; }

  .\32 \/8\@sm {
    width: 25%; }

  .offset-2\/8\@sm {
    margin-left: 25%; }

  .\33 \/8\@sm {
    width: 37.5%; }

  .offset-3\/8\@sm {
    margin-left: 37.5%; }

  .\34 \/8\@sm {
    width: 50%; }

  .offset-4\/8\@sm {
    margin-left: 50%; }

  .\35 \/8\@sm {
    width: 62.5%; }

  .offset-5\/8\@sm {
    margin-left: 62.5%; }

  .\36 \/8\@sm {
    width: 75%; }

  .offset-6\/8\@sm {
    margin-left: 75%; }

  .\37 \/8\@sm {
    width: 87.5%; }

  .offset-7\/8\@sm {
    margin-left: 87.5%; }

  .\38 \/8\@sm {
    width: 100%; }

  .offset-8\/8\@sm {
    margin-left: 100%; }

  .\31 \/10\@sm {
    width: 10%; }

  .offset-1\/10\@sm {
    margin-left: 10%; }

  .\32 \/10\@sm {
    width: 20%; }

  .offset-2\/10\@sm {
    margin-left: 20%; }

  .\33 \/10\@sm {
    width: 30%; }

  .offset-3\/10\@sm {
    margin-left: 30%; }

  .\34 \/10\@sm {
    width: 40%; }

  .offset-4\/10\@sm {
    margin-left: 40%; }

  .\35 \/10\@sm {
    width: 50%; }

  .offset-5\/10\@sm {
    margin-left: 50%; }

  .\36 \/10\@sm {
    width: 60%; }

  .offset-6\/10\@sm {
    margin-left: 60%; }

  .\37 \/10\@sm {
    width: 70%; }

  .offset-7\/10\@sm {
    margin-left: 70%; }

  .\38 \/10\@sm {
    width: 80%; }

  .offset-8\/10\@sm {
    margin-left: 80%; }

  .\39 \/10\@sm {
    width: 90%; }

  .offset-9\/10\@sm {
    margin-left: 90%; }

  .\31 0\/10\@sm {
    width: 100%; }

  .offset-10\/10\@sm {
    margin-left: 100%; }

  .\31 \/12\@sm {
    width: 8.33333%; }

  .offset-1\/12\@sm {
    margin-left: 8.33333%; }

  .\32 \/12\@sm {
    width: 16.66667%; }

  .offset-2\/12\@sm {
    margin-left: 16.66667%; }

  .\33 \/12\@sm {
    width: 25%; }

  .offset-3\/12\@sm {
    margin-left: 25%; }

  .\34 \/12\@sm {
    width: 33.33333%; }

  .offset-4\/12\@sm {
    margin-left: 33.33333%; }

  .\35 \/12\@sm {
    width: 41.66667%; }

  .offset-5\/12\@sm {
    margin-left: 41.66667%; }

  .\36 \/12\@sm {
    width: 50%; }

  .offset-6\/12\@sm {
    margin-left: 50%; }

  .\37 \/12\@sm {
    width: 58.33333%; }

  .offset-7\/12\@sm {
    margin-left: 58.33333%; }

  .\38 \/12\@sm {
    width: 66.66667%; }

  .offset-8\/12\@sm {
    margin-left: 66.66667%; }

  .\39 \/12\@sm {
    width: 75%; }

  .offset-9\/12\@sm {
    margin-left: 75%; }

  .\31 0\/12\@sm {
    width: 83.33333%; }

  .offset-10\/12\@sm {
    margin-left: 83.33333%; }

  .\31 1\/12\@sm {
    width: 91.66667%; }

  .offset-11\/12\@sm {
    margin-left: 91.66667%; }

  .\31 2\/12\@sm {
    width: 100%; }

  .offset-12\/12\@sm {
    margin-left: 100%; }

  .vr-left\@sm {
    border-left: 1px solid #ccc; }

  .vr-right\@sm {
    border-right: 1px solid #ccc; }

  .spacing-bottom\@sm {
    margin-bottom: 30px; } }
@media only screen and (min-width: 760px) {
  .\31 \/2\@md {
    width: 50%; }

  .offset-1\/2\@md {
    margin-left: 50%; }

  .\32 \/2\@md {
    width: 100%; }

  .offset-2\/2\@md {
    margin-left: 100%; }

  .\31 \/3\@md {
    width: 33.33333%; }

  .offset-1\/3\@md {
    margin-left: 33.33333%; }

  .\32 \/3\@md {
    width: 66.66667%; }

  .offset-2\/3\@md {
    margin-left: 66.66667%; }

  .\33 \/3\@md {
    width: 100%; }

  .offset-3\/3\@md {
    margin-left: 100%; }

  .\31 \/4\@md {
    width: 25%; }

  .offset-1\/4\@md {
    margin-left: 25%; }

  .\32 \/4\@md {
    width: 50%; }

  .offset-2\/4\@md {
    margin-left: 50%; }

  .\33 \/4\@md {
    width: 75%; }

  .offset-3\/4\@md {
    margin-left: 75%; }

  .\34 \/4\@md {
    width: 100%; }

  .offset-4\/4\@md {
    margin-left: 100%; }

  .\31 \/5\@md {
    width: 20%; }

  .offset-1\/5\@md {
    margin-left: 20%; }

  .\32 \/5\@md {
    width: 40%; }

  .offset-2\/5\@md {
    margin-left: 40%; }

  .\33 \/5\@md {
    width: 60%; }

  .offset-3\/5\@md {
    margin-left: 60%; }

  .\34 \/5\@md {
    width: 80%; }

  .offset-4\/5\@md {
    margin-left: 80%; }

  .\35 \/5\@md {
    width: 100%; }

  .offset-5\/5\@md {
    margin-left: 100%; }

  .\31 \/6\@md {
    width: 16.66667%; }

  .offset-1\/6\@md {
    margin-left: 16.66667%; }

  .\32 \/6\@md {
    width: 33.33333%; }

  .offset-2\/6\@md {
    margin-left: 33.33333%; }

  .\33 \/6\@md {
    width: 50%; }

  .offset-3\/6\@md {
    margin-left: 50%; }

  .\34 \/6\@md {
    width: 66.66667%; }

  .offset-4\/6\@md {
    margin-left: 66.66667%; }

  .\35 \/6\@md {
    width: 83.33333%; }

  .offset-5\/6\@md {
    margin-left: 83.33333%; }

  .\36 \/6\@md {
    width: 100%; }

  .offset-6\/6\@md {
    margin-left: 100%; }

  .\31 \/8\@md {
    width: 12.5%; }

  .offset-1\/8\@md {
    margin-left: 12.5%; }

  .\32 \/8\@md {
    width: 25%; }

  .offset-2\/8\@md {
    margin-left: 25%; }

  .\33 \/8\@md {
    width: 37.5%; }

  .offset-3\/8\@md {
    margin-left: 37.5%; }

  .\34 \/8\@md {
    width: 50%; }

  .offset-4\/8\@md {
    margin-left: 50%; }

  .\35 \/8\@md {
    width: 62.5%; }

  .offset-5\/8\@md {
    margin-left: 62.5%; }

  .\36 \/8\@md {
    width: 75%; }

  .offset-6\/8\@md {
    margin-left: 75%; }

  .\37 \/8\@md {
    width: 87.5%; }

  .offset-7\/8\@md {
    margin-left: 87.5%; }

  .\38 \/8\@md {
    width: 100%; }

  .offset-8\/8\@md {
    margin-left: 100%; }

  .\31 \/10\@md {
    width: 10%; }

  .offset-1\/10\@md {
    margin-left: 10%; }

  .\32 \/10\@md {
    width: 20%; }

  .offset-2\/10\@md {
    margin-left: 20%; }

  .\33 \/10\@md {
    width: 30%; }

  .offset-3\/10\@md {
    margin-left: 30%; }

  .\34 \/10\@md {
    width: 40%; }

  .offset-4\/10\@md {
    margin-left: 40%; }

  .\35 \/10\@md {
    width: 50%; }

  .offset-5\/10\@md {
    margin-left: 50%; }

  .\36 \/10\@md {
    width: 60%; }

  .offset-6\/10\@md {
    margin-left: 60%; }

  .\37 \/10\@md {
    width: 70%; }

  .offset-7\/10\@md {
    margin-left: 70%; }

  .\38 \/10\@md {
    width: 80%; }

  .offset-8\/10\@md {
    margin-left: 80%; }

  .\39 \/10\@md {
    width: 90%; }

  .offset-9\/10\@md {
    margin-left: 90%; }

  .\31 0\/10\@md {
    width: 100%; }

  .offset-10\/10\@md {
    margin-left: 100%; }

  .\31 \/12\@md {
    width: 8.33333%; }

  .offset-1\/12\@md {
    margin-left: 8.33333%; }

  .\32 \/12\@md {
    width: 16.66667%; }

  .offset-2\/12\@md {
    margin-left: 16.66667%; }

  .\33 \/12\@md {
    width: 25%; }

  .offset-3\/12\@md {
    margin-left: 25%; }

  .\34 \/12\@md {
    width: 33.33333%; }

  .offset-4\/12\@md {
    margin-left: 33.33333%; }

  .\35 \/12\@md {
    width: 41.66667%; }

  .offset-5\/12\@md {
    margin-left: 41.66667%; }

  .\36 \/12\@md {
    width: 50%; }

  .offset-6\/12\@md {
    margin-left: 50%; }

  .\37 \/12\@md {
    width: 58.33333%; }

  .offset-7\/12\@md {
    margin-left: 58.33333%; }

  .\38 \/12\@md {
    width: 66.66667%; }

  .offset-8\/12\@md {
    margin-left: 66.66667%; }

  .\39 \/12\@md {
    width: 75%; }

  .offset-9\/12\@md {
    margin-left: 75%; }

  .\31 0\/12\@md {
    width: 83.33333%; }

  .offset-10\/12\@md {
    margin-left: 83.33333%; }

  .\31 1\/12\@md {
    width: 91.66667%; }

  .offset-11\/12\@md {
    margin-left: 91.66667%; }

  .\31 2\/12\@md {
    width: 100%; }

  .offset-12\/12\@md {
    margin-left: 100%; }

  .vr-left\@md {
    border-left: 1px solid #ccc; }

  .vr-right\@md {
    border-right: 1px solid #ccc; }

  .spacing-bottom\@md {
    margin-bottom: 30px; } }
@media only screen and (min-width: 1020px) {
  .\31 \/2\@lg {
    width: 50%; }

  .offset-1\/2\@lg {
    margin-left: 50%; }

  .\32 \/2\@lg {
    width: 100%; }

  .offset-2\/2\@lg {
    margin-left: 100%; }

  .\31 \/3\@lg {
    width: 33.33333%; }

  .offset-1\/3\@lg {
    margin-left: 33.33333%; }

  .\32 \/3\@lg {
    width: 66.66667%; }

  .offset-2\/3\@lg {
    margin-left: 66.66667%; }

  .\33 \/3\@lg {
    width: 100%; }

  .offset-3\/3\@lg {
    margin-left: 100%; }

  .\31 \/4\@lg {
    width: 25%; }

  .offset-1\/4\@lg {
    margin-left: 25%; }

  .\32 \/4\@lg {
    width: 50%; }

  .offset-2\/4\@lg {
    margin-left: 50%; }

  .\33 \/4\@lg {
    width: 75%; }

  .offset-3\/4\@lg {
    margin-left: 75%; }

  .\34 \/4\@lg {
    width: 100%; }

  .offset-4\/4\@lg {
    margin-left: 100%; }

  .\31 \/5\@lg {
    width: 20%; }

  .offset-1\/5\@lg {
    margin-left: 20%; }

  .\32 \/5\@lg {
    width: 40%; }

  .offset-2\/5\@lg {
    margin-left: 40%; }

  .\33 \/5\@lg {
    width: 60%; }

  .offset-3\/5\@lg {
    margin-left: 60%; }

  .\34 \/5\@lg {
    width: 80%; }

  .offset-4\/5\@lg {
    margin-left: 80%; }

  .\35 \/5\@lg {
    width: 100%; }

  .offset-5\/5\@lg {
    margin-left: 100%; }

  .\31 \/6\@lg {
    width: 16.66667%; }

  .offset-1\/6\@lg {
    margin-left: 16.66667%; }

  .\32 \/6\@lg {
    width: 33.33333%; }

  .offset-2\/6\@lg {
    margin-left: 33.33333%; }

  .\33 \/6\@lg {
    width: 50%; }

  .offset-3\/6\@lg {
    margin-left: 50%; }

  .\34 \/6\@lg {
    width: 66.66667%; }

  .offset-4\/6\@lg {
    margin-left: 66.66667%; }

  .\35 \/6\@lg {
    width: 83.33333%; }

  .offset-5\/6\@lg {
    margin-left: 83.33333%; }

  .\36 \/6\@lg {
    width: 100%; }

  .offset-6\/6\@lg {
    margin-left: 100%; }

  .\31 \/8\@lg {
    width: 12.5%; }

  .offset-1\/8\@lg {
    margin-left: 12.5%; }

  .\32 \/8\@lg {
    width: 25%; }

  .offset-2\/8\@lg {
    margin-left: 25%; }

  .\33 \/8\@lg {
    width: 37.5%; }

  .offset-3\/8\@lg {
    margin-left: 37.5%; }

  .\34 \/8\@lg {
    width: 50%; }

  .offset-4\/8\@lg {
    margin-left: 50%; }

  .\35 \/8\@lg {
    width: 62.5%; }

  .offset-5\/8\@lg {
    margin-left: 62.5%; }

  .\36 \/8\@lg {
    width: 75%; }

  .offset-6\/8\@lg {
    margin-left: 75%; }

  .\37 \/8\@lg {
    width: 87.5%; }

  .offset-7\/8\@lg {
    margin-left: 87.5%; }

  .\38 \/8\@lg {
    width: 100%; }

  .offset-8\/8\@lg {
    margin-left: 100%; }

  .\31 \/10\@lg {
    width: 10%; }

  .offset-1\/10\@lg {
    margin-left: 10%; }

  .\32 \/10\@lg {
    width: 20%; }

  .offset-2\/10\@lg {
    margin-left: 20%; }

  .\33 \/10\@lg {
    width: 30%; }

  .offset-3\/10\@lg {
    margin-left: 30%; }

  .\34 \/10\@lg {
    width: 40%; }

  .offset-4\/10\@lg {
    margin-left: 40%; }

  .\35 \/10\@lg {
    width: 50%; }

  .offset-5\/10\@lg {
    margin-left: 50%; }

  .\36 \/10\@lg {
    width: 60%; }

  .offset-6\/10\@lg {
    margin-left: 60%; }

  .\37 \/10\@lg {
    width: 70%; }

  .offset-7\/10\@lg {
    margin-left: 70%; }

  .\38 \/10\@lg {
    width: 80%; }

  .offset-8\/10\@lg {
    margin-left: 80%; }

  .\39 \/10\@lg {
    width: 90%; }

  .offset-9\/10\@lg {
    margin-left: 90%; }

  .\31 0\/10\@lg {
    width: 100%; }

  .offset-10\/10\@lg {
    margin-left: 100%; }

  .\31 \/12\@lg {
    width: 8.33333%; }

  .offset-1\/12\@lg {
    margin-left: 8.33333%; }

  .\32 \/12\@lg {
    width: 16.66667%; }

  .offset-2\/12\@lg {
    margin-left: 16.66667%; }

  .\33 \/12\@lg {
    width: 25%; }

  .offset-3\/12\@lg {
    margin-left: 25%; }

  .\34 \/12\@lg {
    width: 33.33333%; }

  .offset-4\/12\@lg {
    margin-left: 33.33333%; }

  .\35 \/12\@lg {
    width: 41.66667%; }

  .offset-5\/12\@lg {
    margin-left: 41.66667%; }

  .\36 \/12\@lg {
    width: 50%; }

  .offset-6\/12\@lg {
    margin-left: 50%; }

  .\37 \/12\@lg {
    width: 58.33333%; }

  .offset-7\/12\@lg {
    margin-left: 58.33333%; }

  .\38 \/12\@lg {
    width: 66.66667%; }

  .offset-8\/12\@lg {
    margin-left: 66.66667%; }

  .\39 \/12\@lg {
    width: 75%; }

  .offset-9\/12\@lg {
    margin-left: 75%; }

  .\31 0\/12\@lg {
    width: 83.33333%; }

  .offset-10\/12\@lg {
    margin-left: 83.33333%; }

  .\31 1\/12\@lg {
    width: 91.66667%; }

  .offset-11\/12\@lg {
    margin-left: 91.66667%; }

  .\31 2\/12\@lg {
    width: 100%; }

  .offset-12\/12\@lg {
    margin-left: 100%; }

  .vr-left\@lg {
    border-left: 1px solid #ccc; }

  .vr-right\@lg {
    border-right: 1px solid #ccc; }

  .spacing-bottom\@lg {
    margin-bottom: 30px; } }
@media only screen and (min-width: 1260px) {
  .\31 \/2\@xl {
    width: 50%; }

  .offset-1\/2\@xl {
    margin-left: 50%; }

  .\32 \/2\@xl {
    width: 100%; }

  .offset-2\/2\@xl {
    margin-left: 100%; }

  .\31 \/3\@xl {
    width: 33.33333%; }

  .offset-1\/3\@xl {
    margin-left: 33.33333%; }

  .\32 \/3\@xl {
    width: 66.66667%; }

  .offset-2\/3\@xl {
    margin-left: 66.66667%; }

  .\33 \/3\@xl {
    width: 100%; }

  .offset-3\/3\@xl {
    margin-left: 100%; }

  .\31 \/4\@xl {
    width: 25%; }

  .offset-1\/4\@xl {
    margin-left: 25%; }

  .\32 \/4\@xl {
    width: 50%; }

  .offset-2\/4\@xl {
    margin-left: 50%; }

  .\33 \/4\@xl {
    width: 75%; }

  .offset-3\/4\@xl {
    margin-left: 75%; }

  .\34 \/4\@xl {
    width: 100%; }

  .offset-4\/4\@xl {
    margin-left: 100%; }

  .\31 \/5\@xl {
    width: 20%; }

  .offset-1\/5\@xl {
    margin-left: 20%; }

  .\32 \/5\@xl {
    width: 40%; }

  .offset-2\/5\@xl {
    margin-left: 40%; }

  .\33 \/5\@xl {
    width: 60%; }

  .offset-3\/5\@xl {
    margin-left: 60%; }

  .\34 \/5\@xl {
    width: 80%; }

  .offset-4\/5\@xl {
    margin-left: 80%; }

  .\35 \/5\@xl {
    width: 100%; }

  .offset-5\/5\@xl {
    margin-left: 100%; }

  .\31 \/6\@xl {
    width: 16.66667%; }

  .offset-1\/6\@xl {
    margin-left: 16.66667%; }

  .\32 \/6\@xl {
    width: 33.33333%; }

  .offset-2\/6\@xl {
    margin-left: 33.33333%; }

  .\33 \/6\@xl {
    width: 50%; }

  .offset-3\/6\@xl {
    margin-left: 50%; }

  .\34 \/6\@xl {
    width: 66.66667%; }

  .offset-4\/6\@xl {
    margin-left: 66.66667%; }

  .\35 \/6\@xl {
    width: 83.33333%; }

  .offset-5\/6\@xl {
    margin-left: 83.33333%; }

  .\36 \/6\@xl {
    width: 100%; }

  .offset-6\/6\@xl {
    margin-left: 100%; }

  .\31 \/8\@xl {
    width: 12.5%; }

  .offset-1\/8\@xl {
    margin-left: 12.5%; }

  .\32 \/8\@xl {
    width: 25%; }

  .offset-2\/8\@xl {
    margin-left: 25%; }

  .\33 \/8\@xl {
    width: 37.5%; }

  .offset-3\/8\@xl {
    margin-left: 37.5%; }

  .\34 \/8\@xl {
    width: 50%; }

  .offset-4\/8\@xl {
    margin-left: 50%; }

  .\35 \/8\@xl {
    width: 62.5%; }

  .offset-5\/8\@xl {
    margin-left: 62.5%; }

  .\36 \/8\@xl {
    width: 75%; }

  .offset-6\/8\@xl {
    margin-left: 75%; }

  .\37 \/8\@xl {
    width: 87.5%; }

  .offset-7\/8\@xl {
    margin-left: 87.5%; }

  .\38 \/8\@xl {
    width: 100%; }

  .offset-8\/8\@xl {
    margin-left: 100%; }

  .\31 \/10\@xl {
    width: 10%; }

  .offset-1\/10\@xl {
    margin-left: 10%; }

  .\32 \/10\@xl {
    width: 20%; }

  .offset-2\/10\@xl {
    margin-left: 20%; }

  .\33 \/10\@xl {
    width: 30%; }

  .offset-3\/10\@xl {
    margin-left: 30%; }

  .\34 \/10\@xl {
    width: 40%; }

  .offset-4\/10\@xl {
    margin-left: 40%; }

  .\35 \/10\@xl {
    width: 50%; }

  .offset-5\/10\@xl {
    margin-left: 50%; }

  .\36 \/10\@xl {
    width: 60%; }

  .offset-6\/10\@xl {
    margin-left: 60%; }

  .\37 \/10\@xl {
    width: 70%; }

  .offset-7\/10\@xl {
    margin-left: 70%; }

  .\38 \/10\@xl {
    width: 80%; }

  .offset-8\/10\@xl {
    margin-left: 80%; }

  .\39 \/10\@xl {
    width: 90%; }

  .offset-9\/10\@xl {
    margin-left: 90%; }

  .\31 0\/10\@xl {
    width: 100%; }

  .offset-10\/10\@xl {
    margin-left: 100%; }

  .\31 \/12\@xl {
    width: 8.33333%; }

  .offset-1\/12\@xl {
    margin-left: 8.33333%; }

  .\32 \/12\@xl {
    width: 16.66667%; }

  .offset-2\/12\@xl {
    margin-left: 16.66667%; }

  .\33 \/12\@xl {
    width: 25%; }

  .offset-3\/12\@xl {
    margin-left: 25%; }

  .\34 \/12\@xl {
    width: 33.33333%; }

  .offset-4\/12\@xl {
    margin-left: 33.33333%; }

  .\35 \/12\@xl {
    width: 41.66667%; }

  .offset-5\/12\@xl {
    margin-left: 41.66667%; }

  .\36 \/12\@xl {
    width: 50%; }

  .offset-6\/12\@xl {
    margin-left: 50%; }

  .\37 \/12\@xl {
    width: 58.33333%; }

  .offset-7\/12\@xl {
    margin-left: 58.33333%; }

  .\38 \/12\@xl {
    width: 66.66667%; }

  .offset-8\/12\@xl {
    margin-left: 66.66667%; }

  .\39 \/12\@xl {
    width: 75%; }

  .offset-9\/12\@xl {
    margin-left: 75%; }

  .\31 0\/12\@xl {
    width: 83.33333%; }

  .offset-10\/12\@xl {
    margin-left: 83.33333%; }

  .\31 1\/12\@xl {
    width: 91.66667%; }

  .offset-11\/12\@xl {
    margin-left: 91.66667%; }

  .\31 2\/12\@xl {
    width: 100%; }

  .offset-12\/12\@xl {
    margin-left: 100%; }

  .vr-left\@xl {
    border-left: 1px solid #ccc; }

  .vr-right\@xl {
    border-right: 1px solid #ccc; }

  .spacing-bottom\@xl {
    margin-bottom: 30px; } }

/*# sourceMappingURL=styles.css.map */
